<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>circus/ballmotion1.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,897},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>circus/ballmotion2.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,897},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>circus/ballmotion3.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,897},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>circus/ballmotion4.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,897},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>circus/bar.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,0},{800,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{800,9}</string>
			</dict>
			<key>circus/bluemonkey1.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,973},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>circus/bluemonkey2.png</key>
			<dict>
				<key>frame</key>
				<string>{{687,929},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>circus/bluemonkey3.png</key>
			<dict>
				<key>frame</key>
				<string>{{692,897},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>circus/bluemonkey4.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,929},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>circus/board.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,897},{86,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,38}</string>
			</dict>
			<key>circus/charliefly1.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,977},{32,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,44}</string>
			</dict>
			<key>circus/charliefly2.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,897},{32,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,46}</string>
			</dict>
			<key>circus/charliestand.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,897},{32,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,48}</string>
			</dict>
			<key>circus/exit.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,460},{149,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{149,65}</string>
			</dict>
			<key>circus/final1.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,942},{73,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,68}</string>
			</dict>
			<key>circus/final2.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,272},{96,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,188}</string>
			</dict>
			<key>circus/finger.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,172},{32,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,16}</string>
			</dict>
			<key>circus/firering1.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,460},{48,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,160}</string>
			</dict>
			<key>circus/firering2.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,609},{48,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,160}</string>
			</dict>
			<key>circus/firering3.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,769},{48,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,128}</string>
			</dict>
			<key>circus/firering4.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,732},{48,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,128}</string>
			</dict>
			<key>circus/firering5.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,814},{48,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,128}</string>
			</dict>
			<key>circus/firering6.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,800},{48,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,128}</string>
			</dict>
			<key>circus/grass.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,609},{800,288}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{800,288}</string>
			</dict>
			<key>circus/hint.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{800,480}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{800,480}</string>
			</dict>
			<key>circus/horse1.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,620},{97,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,64}</string>
			</dict>
			<key>circus/horse2.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,635},{97,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,64}</string>
			</dict>
			<key>circus/horse3.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,717},{97,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,64}</string>
			</dict>
			<key>circus/icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,942},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>circus/level2dead.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,897},{32,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,48}</string>
			</dict>
			<key>circus/level2motion1.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,897},{32,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,48}</string>
			</dict>
			<key>circus/level2motion2.png</key>
			<dict>
				<key>frame</key>
				<string>{{598,897},{32,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,48}</string>
			</dict>
			<key>circus/level2motion3.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,929},{32,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,48}</string>
			</dict>
			<key>circus/level2motion4.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,929},{32,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,44}</string>
			</dict>
			<key>circus/level2success.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,76},{30,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,48}</string>
			</dict>
			<key>circus/level2success2.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,124},{30,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,48}</string>
			</dict>
			<key>circus/liondead.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,860},{64,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,78}</string>
			</dict>
			<key>circus/lionjump.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,928},{64,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,78}</string>
			</dict>
			<key>circus/lionsquat.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,938},{64,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,78}</string>
			</dict>
			<key>circus/lionsuccess.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,942},{64,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,78}</string>
			</dict>
			<key>circus/lionsuccess2.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,942},{64,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,78}</string>
			</dict>
			<key>circus/lionwalk.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,942},{64,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,78}</string>
			</dict>
			<key>circus/live.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,252},{16,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{16,17}</string>
			</dict>
			<key>circus/monkey1.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,897},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>circus/monkey2.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,929},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>circus/monkey3.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,897},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>circus/pad.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,0},{76,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,29}</string>
			</dict>
			<key>circus/pause.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,941},{73,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,65}</string>
			</dict>
			<key>circus/resume.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,486},{149,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{149,65}</string>
			</dict>
			<key>circus/rope1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,182},{4,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{4,4}</string>
			</dict>
			<key>circus/rope2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1014,182},{4,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{4,4}</string>
			</dict>
			<key>circus/ropeend.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,172},{14,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{14,10}</string>
			</dict>
			<key>circus/sound1.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,941},{73,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,65}</string>
			</dict>
			<key>circus/sound2.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,942},{73,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,65}</string>
			</dict>
			<key>circus/spring1.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,897},{96,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,34}</string>
			</dict>
			<key>circus/spring2.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,897},{96,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,34}</string>
			</dict>
			<key>circus/star1.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,204},{16,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{16,18}</string>
			</dict>
			<key>circus/star2.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,220},{16,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{16,18}</string>
			</dict>
			<key>circus/star3.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,236},{16,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{16,18}</string>
			</dict>
			<key>circus/stove1.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,942},{48,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,66}</string>
			</dict>
			<key>circus/stove2.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,929},{48,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,66}</string>
			</dict>
			<key>circus/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,0},{272,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{272,120}</string>
			</dict>
			<key>circus/top.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,0},{486,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{486,65}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>circus.png</string>
			<key>realTextureFileName</key>
			<string>circus.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>